<!DOCTYPE html>
<html>
<head>
  <title>EventCounter</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- #main>#top(>#logo+#login)+#switch(.case*3)+#events>.event(.timedate(>#time+#date)+#eventInformation(.eventTitle+.eventDescription)) -->

<div id="main">
  <div id="top">
    <div class="center">
      <div id="logo"><p>EventsCounter</p></div>
      <div id="login">
        <% if current_user %>
          <%= current_user.full_name %>
        <% else %>
          <%= link_to "Sign In" %> or <%= link_to "Sign Up" %>
        <% end %>
      </div>
      <% if current_user %>
        <div id="hidden_user_information">
          <%= link_to :Exit, destroy_user_session_path, method: :delete %>
        </div>
      <% end %>
    </div>
  </div>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>
</div>

</body>
</html>
